.ticket-frame {
  color: white;
}

.ticket-upper-grid {
  height: 550px;
}

@media only screen and (max-width: 450px) {
  .ticket-upper-grid {
    height: 520px;
  }
}

div.date-widget .date-panel {
    float: right;
}

img {
  margin-left: auto;
  margin-right: 0px;
  display: block;
}
